.alert {
  @apply text-left flex relative border-l-4;
  &.success {
    @apply border-emerald-700 bg-emerald-100;
  }

  &.info {
    @apply border-indigo-700 bg-indigo-100;
  }

  &.error {
    @apply border-rose-700 bg-rose-100;
  }
}

.alertIconBox {
  @apply pl-3 py-4;
}

.alertIcon {
  @apply w-6 h-6;
}

.alertContent {
  @apply py-4;
}

.alertHeader {
  @apply px-4 pb-2 font-semibold;
}

.alertBody {
  @apply px-4;
}

.alertIcon,
.alertHeader,
.alertBody {
  &.success {
    @apply text-emerald-800;
  }

  &.info {
    @apply text-indigo-800;
  }
  &.error {
    @apply text-rose-800;
  }
}
